{% trans_default_domain 'Modules.Smailyforprestashop.Admin' %}

{% block customer_sync_configuration %}
	{{ form_start(customerSyncForm) }}
	<div class="card">
		<h3 class="card-header">
			<i class="material-icons">settings</i>
			{{ 'Customer Synchronization' | trans }}
		</h3>
		<div class="card-body">
			<div class="form-wrapper">
				<div class="form-group row">
					{{ form_label(customerSyncForm.enabled) }}
					<div class="col-sm">
						{{form_widget(customerSyncForm.enabled)}}
						{{form_help(customerSyncForm.enabled)}}
						<small class="form-text">
							{{ 'Synchronize subscribed customers and newsletter registrations from ' | trans }}
								<a href="{{emailSubscriptionModuleUrl}}">{{ 'PS Newsletter Subscriptions' | trans }}</a>
							{{ 'module.' | trans }}
						</small>
					</div>
				</div>
				{{ form_row(customerSyncForm.sync_additional) }}
				{{ form_row(customerSyncForm.cron_token) }}
				<div class="form-group row">
					<label class="form-control-label" for="form_cron_url">{{ "Cron URL" | trans}}</label>
					<div class="col-sm text-monospace">
						<div class="input-group">
							<textarea class="form-control-plaintext" readonly aria-label="With textarea" id="sync-cron-url">{{customerSyncForm.cron_url.vars.value}}</textarea>
							<div class="input-group-append">
								<button onclick='copyURL(event, "#sync #sync-cron-url")' class="btn btn-outline-info btn-sm" title="{{"Copy to clipboard" | trans }}" data-toggle="tooltip">
									<i class="material-icons">content_copy</i>
								</button>
							</div>
						</div>
						<small class="form-text">
							{{ "To schedule automatic sync, set up CRON in your hosting and use this URL." | trans }}
						</small>
					</div>
				</div>
				<div class="form-group row">
					{{ form_label(customerSyncForm.optin_enabled) }}
					<div class="col-sm">
						{{form_widget(customerSyncForm.optin_enabled)}}
						{{form_help(customerSyncForm.optin_enabled)}}
						<small class="form-text">
							{{ 'Smaily uses ' | trans }}
							<a href="{{emailSubscriptionModuleUrl}}">{{ 'PS Newsletter Subscriptions' | trans }}</a>
							{{ ' module for rendering the Opt-In form.' | trans }}
						</small>
					</div>
				</div>
				{{ form_row(customerSyncForm.autoresponder) }}
				<p class="text-right">
					<a href="https://smaily.com/help/user-manual/automations/welcome-email-automation-workflow/" target="_blank">{{ 'How to create an automation trigger?' | trans }}</a>
				</p>
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex justify-content-end">
				{{ form_row(customerSyncForm.submit) }}
			</div>
		</div>
	</div>
	{{ form_end(customerSyncForm) }}
{% endblock %}
